<section id="about" class="about">
  <!-- ======= About Me ======= -->
  <div class="about-me container">
    <div class="section-title">
      <h2>About</h2>
      <p>Hi, I'm Langat, a passionate and driven web developer with a strong focus on building impactful solutions. 
        With a background in both front-end and back-end technologies, I specialize in creating 
        seamless user experiences and efficient back-end architectures. I’m continuously expanding my skill 
        set and exploring new technologies, with a dedication to making the web a better place through 
        innovation and precision</p>
        <br><br>
    </div>
    <div class="row">
      {% for about_info in about %}
      <div class="col-lg-4">
        <img
          src="{{ about_info.photo.url }}"
          class="img-fluid avatar lazy"
          alt=" langat "
          loading="lazy"
        />
      </div>
      <div class="col-lg-8 pt-4 pt-lg-0 content" style="line-height: 1.7;">
          {{ about_info.description|safe  }}
      </div>
      {% endfor %}
    </div>
  </div>
  <!-- End About Me -->
  <!-- ======= Interests ======= -->
  <div class="interests container">
    <div class="section-title">
      <h2>Technologies</h2>
    </div>
    <div class="row">
    {% for tech in technologies %}
      <div class="col-lg-3 col-md-4 mt-4 mt-md-0" style="margin-bottom: 15px;">
        <div class="icon-box">
          <img
            height="32"
            width="32"
            src="{{ tech.photo }}"
          />
          <h3>{{ tech.name }}</h3>
        </div>
      </div>
    {% endfor %}
    </div>
  </div>
  <!-- End Interests -->
</section>

